DEBUG=true
SECRET_KEY="5^#15wdl(qll2ue&&(-1ixwalo7%td1a(&x7abp(roabe_mk7w"
#NLP_API="http://127.0.0.1:8000"
NLP_API="https://dev-54ta5gq-jyeciedibdzvq.fr-4.platformsh.site"
AZURE_OPENAI_ENDPOINT="https://openai-test-solveig-helland.openai.azure.com/"