[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
django-enum = "*"
django-import-export = "*"
django-ordered-model = "*"
platformshconfig = "*"
gunicorn = "*"
django-environ = "*"
django-admin-rangefilter = "*"
django-hidefield = "*"
sentry-sdk = {extras = ["django"], version = "*"}
django-more-admin-filters = "*"
requests = "*"
django-ajax-selects = "*"

[dev-packages]

[requires]
python_version = "3.11"
