[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
django-enum = "*"
django-import-export = "*"
django-ordered-model = "*"
platformshconfig = "*"
gunicorn = "*"
django-environ = "*"
django-admin-rangefilter = "*"
sentry-sdk = {extras = ["django"], version = "*"}
django-more-admin-filters = "*"
requests = "*"
emoji = "*"
django-taggit = "*"
django-autocomplete-light = "*"
django-grappelli = "*"
django-computedfields = "*"
django-taggit-bulk = "*"
django-forms-dynamic = "*"
inflex = "*"
german-nouns = "*"
beautifulsoup4 = "*"

[dev-packages]

[requires]
python_version = "3.11"
