[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
django-enum = "*"
django-import-export = "*"
django-ordered-model = "*"
sentry-sdk = "*"
platformshconfig = "*"
gunicorn = "*"
django-environ = "*"

[dev-packages]

[requires]
python_version = "3.11"
