<div class="grp-module">
    <div class="grp-row">
        <label>{{ title }}</label>

        {% with choices.0 as all_choice %}
        <form method="GET" action="">

            {% for k, v in all_choice.query_parts %}
            <input type="hidden" name="{{ k }}" value="{{ v }}" />
            {% endfor %}

            <input class="grp-filter-choice" type="text" value="{{ spec.value|default_if_none:'' }}"
                name="{{ spec.parameter_name }}" />

            <div class="controls">
                <input type="submit" class="button" value="Search">
                <input type="button" onclick="location.href='{{ all_choice.query_string }}';" class="button"
                    value="Reset" />

            </div>
        </form>
        {% endwith %}
    </div>
</div>